CONFIG_IDF_TARGET="esp32s31"
CONFIG_IDF_TARGET_ESP32S31=y
CONFIG_IDF_EXPERIMENTAL_FEATURES=y

# ESP32-S31-Korvo-1 board settings from esp-board-manager.
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_200M=y
CONFIG_FREERTOS_TASK_CREATE_ALLOW_EXT_MEM=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_320=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=320
